<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Reviews</title>
        <link rel="stylesheet" href="./review.css" />
    </head>

    <body>
        <main>
            <div class="main">
                <a href="../../home.html">
                    <img class="img-main" src="../../src/logo-black-adam-removebg-preview.png" title="Go back" />
                </a>
            </div>

            <div class="comments">
                <div class="first">
                    <img src="https://i.ytimg.com/vi/0TKDaaCCWw0/maxresdefault.jpg" />
                    <div>
                        <span>★★★</span>
                        <p>This movie isn't that bad</p>
                    </div>
                </div>

                <div class="second">
                    <img src="https://th.bing.com/th/id/R.c2f2bab57943c0be701f8041fb139eac?rik=d1VW60A87RcGFg&pid=ImgRaw&r=0" />
                    <div>
                        <span>★★★★★</span>
                        <p>I loved this movie!! The scene with Dr. Fate is awesome</p>
                    </div>
                </div>

                <div class="third">
                    <img src="https://i.pinimg.com/736x/14/9b/c9/149bc992f0d43e40ec727a9c0dbd6883.jpg" />
                    <div>
                        <span>★</span>
                        <p>I expected more on this film. Marvel is way superior</p>
                    </div>
                </div>

                <div class="fourth">
                    <img src="https://th.bing.com/th/id/R.332b4892b2e836e1adfcb2aefbce8745?rik=UxceC152u79zkw&pid=ImgRaw&r=0" />
                    <div>
                        <span>★★★★★</span>
                        <p>Now DC is getting closer to Marvel's movies!!</p>
                    </div>
                </div>
            </div>

            <form action="./review.html">
                <label for="avaliation">Give us your avaliation about this movie:</label>
                <input id="avaliation" type="range" name="avaliation" />

                <textarea rows="10" placeholder="Write a comment about the movie"></textarea>

                <button>Send</button>
            </form>
        </main>
    </body>
</html>