<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>End Credits</title>
        <link rel="stylesheet" href="./credits.css" />
    </head>

    <body>
        <main>
            <div class="intro">
                <a href="../../home.html">
                    <img src="../../src/logo-black-adam-removebg-preview.png" title="Go back" />
                </a>

                <p>There are the casting of the Black Adam Movie</p>
            </div>

            <h1>Director</h1>
            <div class="cast-director">
                <div class="card director">Jaume Collet-Serra</div>
            </div>

            <h1>Screenwritter</h1>
            <div class="cast-script">
                <div class="card script-1">Adam Sztykiel</div>
                <div class="card script-2">Sohrab Noshirvani</div>
            </div>

            <h1>Cast</h1>
            <div class="cast-cast">
                <div class="card cast-1">Dwayne Johnson</div>
                <div class="card cast-2">Aldis Hodge</div>
                <div class="card cast-3">Pierce Brosnan</div>
                <div class="card cast-4">Noah Centineo</div>
                <div class="card cast-5">Sarah Shahi</div>
                <div class="card cast-6">Quintessa Swindell</div>
                <div class="card cast-7">Marwan Kenzari</div>
                <div class="card cast-8">Bodhi Sabongui</div>
                <div class="card cast-9">Mohammed Amer</div>
                <div class="card cast-10">James Cusati-Moyer</div>
                <div class="card cast-11">Benjamin Patterson</div>
                <div class="card cast-12">Uli Latukefu</div>
                <div class="card cast-13">Jennifer Holland</div>
                <div class="card cast-14">Henry Winkler</div>
                <div class="card cast-15">Patrick Sabongui</div>
                <div class="card cast-16">Viola Davis</div>
                <div class="card cast-17">Joseph Gatt</div>
                <div class="card cast-18">Christopher Matthew Cook</div>
            </div>

            <h1>Soundtrack</h1>
            <div class="cast-sound">
                <div class="card sound">Lorne Balfe</div>
            </div>

            <h1>Producer</h1>
            <div class="cast-producer">
                <div class="card producer-1">Jennifer Conroy</div>
                <div class="card producer-2">Richard Brener</div>
                <div class="card producer-3">Beau Flynn</div>
                <div class="card producer-4">Hiram Garcia</div>
                <div class="card producer-5">Dave Neustadter</div>
                <div class="card producer-6">Dany Garcia</div>
                <div class="card producer-7">Dwayne Johnson</div>
                <div class="card producer-8">Walter Hamada</div>
                <div class="card producer-9">Eric Mcleod</div>
                <div class="card producer-10">Geoff Johns</div>
                <div class="card producer-11">Toby Emmerich</div>
                <div class="card producer-12">Adam Schlagman</div>
            </div>
        </main>
    </body>
</html>